{#
 * @copyright 2023 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param int    maxBytes
 * @param string maxSize
 * @param string accept
 * @see https://developers.google.com/calendar/api/v3/reference/events/list
#}

{% extends "html/layouts/default.twig" %}
{% block content %}
<header>
    <h1>Accessibility Checker</h1>
</header>
<section>
    <form method="post" enctype="multipart/form-data">
        <fieldset>
            <input id="testFile" type="file" name="testFile" accept="{{ accept }}" />
            <div>{{ _('file_max_size',    'messages')|format(maxSize) }}</div>
            <div>{{ _('file_type_accept', 'messages')|format(accept ) }}</div>
            <button type="submit">Upload</button>
        </fieldset>
    </form>
</section>
{% endblock %}
